.parent-wrapper-data-collection {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
}
.generate-report {
  cursor: pointer;
  width: 200px;
  margin: 20px auto;
  background-color: #ffacac;
  /* border: none; */
  color: white;
  padding: 5px;
  font-size: 20px;
  border: 1px solid #ffacac;
  border-radius: 10px;
}

.generate-report:hover {
  background-color: white;
  color: #ffacac;
}
