form {
  display: flex;
  flex-direction: column;
}

.site-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
.info-title {
  text-align: center;
  /* font-size: 20px; */
  margin-top: 10px;
  text-decoration: underline;
}
.site-info span input {
  padding: 6px 12px;
  margin: 5px;
  width: 200px;
}

.site-fos-selection {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.nphi-formula {
  text-align: center;
  border: 2px solid black;
  padding: 10px 20px;
  /* margin: 20px 10px; */
}
table {
  border: 1px solid black;
  /* border-top: 1px solid black; */
  width: 85%;
  margin: auto;
}
td {
  border-left: 1px solid black;
  border-top: 1px solid black;
  width: 25%;
  text-align: center;
}

.shear-params {
  font-weight: bold;
  text-align: center;
}

.shape-factors div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.depth-factor {
  align-items: center;
}

.depth-factor span:first-of-type {
  margin-top: 10px;
}

.depth-factor p {
  width: 100%;
}

.inclination-factor {
  align-items: center;
}

.inclination-factor p {
  width: 100%;
}

.water-table-factor {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.water-table-factor span {
  display: flex;
  align-items: center;
  gap: 10px;
}

.additional-input-factor div {
  width: 50%;
}
.additional-input-factor div input {
  /* width: 100%; */
}

.water-table-factor-value {
  text-align: center;
  border: 1px solid black;
  width: 100px;
  margin: auto;
  padding: 6px 12px;
}
.bearing-capacity-formula {
  text-align: center;
  font-weight: bold;
  border: 1px solid black;
  /* width: 100px; */
  margin: auto;

  padding: 6px 5px;
}

.formula {
  border: 1px solid black;
  width: auto;
  padding: 5px 10px;
}
