.App {
  margin-bottom: 96px;
}

p {
  margin: 0px;
}

.levels {
  margin-top: 20px;
  display: flex;
  /* flex-direction: column; */
  font-size: 16px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.levels-input {
  padding: 6px 12px;
  border: none;
  background-color: #ffbfa9;
  border-radius: 4px;
}

.level-container {
  width: 90%;
  margin: 20px auto;
}

.level-sign {
  font-weight: bold;
  text-align: center;
}

.appendix {
  font-weight: bold;
}


